{% extends 'base.html' %}

{% block head_content %}
<title>@{{request.user.username}} | Update profile</title>
{% endblock head_content %}
{% load static %}
{% block container %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6 p-4" id="profile-box">
            <form action="{% url 'users:update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} 

                <div class="media">

                    {% if  profile.picture %}
                        <img src="{{profile.picture.url}}" class="rounded-circle" height="50" alt="image profile">
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50" alt="image profile">
                    {% endif %}

                    <div class="media-body">
                        <h5 class="ml-4">@{{user.username}} | {{user.get_full_name}}</h5>
                        <p class="ml-4"><input type="file" name="picture" ></p>
                    </div>
                </div>

                {% for error in form.picture.errors %}
                    <div class="alert alert-danger">
                        <b>Picture: </b>{{error}}
                    </div>
                {% endfor %}

                <hr><br>
                {% for error in form.errors %}
                    <p>error: {{error}}</p>
                {% endfor %}
                <div class="form-group">
                    <label for="website">Website</label>
                    <input 
                        type="text" 
                        name="website" 
                        placeholder="Website" 
                        class="form-control {% if form.website.errors %}is-invalid{% endif %}" 
                        value="{% if form.errors %}{{form.website.value}}{% else %}{{profile.website}}{% endif %}">
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                            {{error}}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-group">
                    <label for="biography">Biografía</label>
                    <textarea 
                        type="text" 
                        name="biography" 
                        placeholder="Biografía"
                        class="form-control {% if form.biography.errors %}is-invalid{% endif %}">{% if form.errors %}{{form.biography.value}}{% else %}{{profile.biography}}{% endif %}</textarea>
                    <div class="invalid-feedback">
                    {% for error in form.biography.errors %}
                        {{error}}
                    {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    <label for="phone_number">Phone number</label>
                    <input 
                        type="text" 
                        class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}" 
                        name="phone_number" 
                        placeholder="Phone number" 
                        value="{% if form.errors %}{{form.phone_number.value}}{% else %}{{profile.phone_number}}{% endif %}">
                    <div class="invalid-feedback">
                    {% for error in form.phone_number.errors %}
                        {{error}}
                    {% endfor %}
                    </div>
                </div>

                <button class="btn btn-primary btn-block mt-5" type="submit">Update info</button>

            </form>
            </div>
        </div>
    </div>
{% endblock container %}

